<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.summi.permission.PRINT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.sunmi.scanner.ACTION_DATA_CODEH93" />
    <uses-permission android:name="com.sunmi.scanner.ACTION_DATA_CODE128" />
    <uses-permission android:name="com.sunmi.scanner.ACTION_DATA_CODE39" />
    <uses-permission android:name="com.sunmi.scanner.ACTION_DATA_EAN13" />
    <uses-permission android:name="com.sunmi.scanner.ACTION_DATA_EAN8" />
    <uses-permission android:name="com.sunmi.scanner.ACTION_DATA_QR" />
    <uses-permission android:name="com.sunmi.scanner.ACTION_DATA_SYMBOLOGY" />
    <uses-permission android:name="com.sunmi.scanner.ACTION_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.ACCESS_USB_DEVICE" />
    <application
        android:allowBackup="true"
        android:screenOrientation="landscape"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"

        android:theme="@style/Theme.AccessaPOS"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SelectLanguage" />
        <activity android:name=".company.InsertCompanyDataActivity" />
        <activity android:name=".login.login" />
        <activity android:name=".product.SubDepartment.AddSubDepartmentActivity" />
        <activity android:name=".product.SubDepartment.ModifySubDepartmentActivity" />
        <activity android:name=".product.items.ModifyItemActivity" />
        <activity android:name=".product.items.AddItemActivity" />
        <activity android:name=".Admin.People.AddPeopleActivity" />
        <activity android:name=".product.menu.Product"  />
        <activity android:name=".Admin.SelectAdminOptions"  />
        <activity android:name=".Admin.People.ModifyPeopleActivity"  />
        <activity android:name=".product.Cost.ModifyCostActivity" />
        <activity android:name=".product.Discount.AddDiscontActivity"/>
        <activity android:name=".product.Discount.ModifyDiscountActivity"/>
        <activity android:name=".product.items.FirstFragment" android:theme="@style/Widget.AppCompat.Spinner" />
        <activity android:name=".product.Department.AddDepartmentActivity"  />
        <activity android:name=".Admin.RegistorCashor" />
        <activity android:name=".product.Department.ModifyDepartmentActivity" />
        <activity android:name=".SelectProfile" />
        <activity android:name=".welcome" />
        <activity android:name=".product.Vendor.AddVendorActivity" />
        <activity android:name=".product.Vendor.ModifyVendorActivity" />
        <activity android:name=".product.category.AddCategoryActivity" />
        <activity android:name=".product.category.ModifyCategoryActivity" />
        <activity android:name=".printer.printerSetup" />
        <activity android:name=".Admin.RegistorAdmin" />
        <activity android:name=".Admin.AdminActivity" />
        <activity android:name=".CustomerLcd.CustomerLcd"/>
        <activity android:name=".Settings.SettingsDashboard"/>
        <activity android:name=".Settings.QRMethods.AddQrActivity"/>
        <activity android:name=".QR.QRActivity"/>
        <activity android:name=".Settings.QRMethods.ModifyQRActivity"/>
        <activity android:name=".Settings.PaymentFragment.AddPaymentActivity"/>
        <activity android:name=".Settings.PaymentFragment.ModifypaymentActivity"/>
        <activity android:name=".printer.externalprinterlibrary2.CloudPrinterActivity"/>
        <activity android:name=".printer.externalprinterlibrary2.SearchActivity"/>
        <activity android:name=".printer.externalprinterlibrary2.WifiConfigActivity"/>
        <activity android:name=".printer.externalprinterlibrary2.WifiSelectActivity"/>
        <activity android:name=".printer.externalprinterlibrary2.PrinterSelectActivity"/>
        <activity android:name=".printer.cloudPrinter.bluetoothPrinter"/>
        <activity android:name=".Report.ReportActivity"/>
       <activity android:name=".Admin.CompanyInfo.FormPager.InsertCompanyDataActivity"/>
        <activity android:name=".Receipt.ReceiptActivity"/>
        <activity android:name=".Admin.CompanyInfo.POSINFO.PosInfo"/>
        <activity android:name=".SplashFlashActivity"/>
        <activity android:name=".Report.SalesReportActivity"/>
        <activity android:name=".Sync.connectToMssql"/>
        <activity android:name=".POP.POP"/>
        <activity android:name=".POP.MerchantValidationActivity"/>
        <activity android:name=".POP.EncryptionActivity"/>
        <activity android:name=".POP.RSAEncryptionActivity"/>
        <activity android:name=".Sync.signuptest"/>
        <activity android:name=".Sync.AddProducts"/>
        <activity android:name=".Sync.signup"/>
        <activity android:name=".POP.PopMobileDialogFragment"/>
        <activity android:name=".product.items.Loadfromusb"/>
        <activity
            android:name="com.accessa.ibora.POP.CancelPaymentPOPDialogFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <service
            android:name=".PrintService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".CancelService"
            android:enabled="true"
            android:exported="false" />




        <receiver android:name="sunmi.ds.MsgReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="sunmi.ds.MsgReceiver"/>
                <action android:name="com.sunmi.hcservice"/>
                <action android:name="com.sunmi.hcservice.status"/>
            </intent-filter>

        </receiver>

    </application>








    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-feature android:name="sunmi.hardware.v2.barcode" android:required="false" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <queries>
        <package android:name="woyou.aidlservice.jiuiv5"/>
    </queries>
</manifest>